/* .floatLeft{
    float: left;
    width: 33%;
}

.floatRight{
    float: right;
    width: 33%;
}
float устарел */
.box {
    width: 300px;
    height: 200px;
    background: rgb(170, 241, 176);

}
@media (max-width:460px) {
    .box {
        background: rgb(245, 160, 202);
    }
}
.floatLeft {
    float: left;
    width: 500px;
    background: rgb(217, 240, 91);
}

.floatRight {
    float: right;
    width: 700px;
    background:rgb(25, 146, 202);
}
@media (max-width:1216px){
    .floatLeft,.floatRight {
        float: unset;
        width: 100%;
    }
}
/* .box1 {
    width: 200px;
}
.box2 {
    width: 300px;
}

.box1: {
    transition
} */